body {
	background:#f7f7f7;
	text-align:center;
	font-family:GostBStandard;
	padding:14px;
}

ul {
	list-style:none;
	display:inline-block;
	padding:0px;
}

li {
	float:left;
}

li a {
	padding:12px;
	color:black;
	font-weight:bold;
	font-size:1.2em;
}

li::after {
	display:inline-block;
	height:1em;
	width:2px;
	background-color:black;
	content:"";
}

li:last-child::after {
	display:none;
}

.red {
	color:#af161a;
}

@font-face {
	font-family: "GostBStandard";
	src: url("../fonts/GostBStandard.eot");
	src: url("../fonts/GostBStandard.eot?#iefix") format("embedded-opentype"), url("../fonts/GostBStandard.woff") format("woff"), url("../fonts/GostBStandard.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
.padding{

margin:50px 0px 25px 0px;
padding:1em 0 0.2em 0;
}


#graph{



padding: 0 auto;
display:flex;
/*position:absolute;*/
background-image:url("../img/GSTBTC_graph.png");
background-size:contain;
background-position:center;
background-repeat:no-repeat;
width:100%;
height:320px;

}
#banner{
	margin:0 auto;
	padding: 0 auto;
	background-image:url("../img/splash.png");
	width:412px;
	height:400px;
	background-size:cover;
}


